.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
 border-right:0; 
 box-shadow:0 0 0; 
 border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}
#imaginary_container{
 width:300px;
 padding: 10px;
}
.nav-title{
    text-align: center;

}
.filter-image{
    height: 50px;
    padding: 5px;
    width: 45px;
    
}

.pre-error{
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #ff0000;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #ffffff;
    border: 0px;
    border-radius: 0px;
}

.form-control-feedback {
    
    position: inherit;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
     width: auto; 
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

/* .btn-default {
    background-color: #FFC00D;
    color: white;
    padding-bottom: 39px;
    font-size: 24px;
    width: 60%;
    height: 35px;
} */

.btn-primary {
    color: #fff;
    width: 50%;
    background-color: #FFC00D;
    height: 50px;
    
        border: none;
    font-size: 24px;
}
.innerTable
{


width:1200px;
background-color: white;
}

.body
{
padding: 40px;
background-color: #c0c0c0;

}
.footer
{

    padding-top:5px;
    padding-bottom:5px;
}
.usermangemnentdahboard
{

width:1220px;
background-color: white;
}
.container 
{ display:block;
  position:fixed;
 }
/* hide default checkbox */
.container input {
   
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark
{
    position: absolute;
    top: 30;
    left: 10;
    height: 15px;
    width: 15px;
    background-color: #eee;


}

input:checked ~ .checkmark{

    background-color:;
}

.checkmark:after
{
    content: "";
    position: relative;
    display: none;

}


/* Show the checkmark when checked */
input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkmark:after {
    padding:2px;
    margin-left:4px;
    width: 5px;
    height: 10px;
    border: solid pink;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}





















